.home-styled {
    padding: auto auto;
    min-height: 100vh;
    
    .title{
        

        h1 {
            font-size: 80px;
            line-height: 70px;
        }

        span {
            display: flex;
            align-items: center;
            font-size: 20px;
        }
    }
}